<%= render partial: "shared/heading", locals: {title: 'Apply to Founder Digest', tagline: 'Each submission is manually reviewed by our team within 24 hours.'} %>

<%# "ternary" %>
<% plan_name = params[:plan] || 'free' %>

<div class="max-w-sm mx-auto">
    <%= form_for UserSubmission.new do |form| %>
        <div class="space-y-8">
            <input type="hidden" name="user_submission[plan_name]" id="user_submission_plan_name" value="<%= plan_name %>">

            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-3">
                <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                <div class="mt-1">
                    <%= form.text_field :first_name, required: true, placeholder: 'Elon', autocomplete: 'given-name', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>
                </div>
                </div>

                <div class="sm:col-span-3">
                <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                <div class="mt-1">
                <%= form.text_field :last_name, required: true, placeholder: 'Musk', autocomplete: 'given-name', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>

                </div>
                </div>

                <div class="sm:col-span-6">
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <div class="mt-1">
                <%= form.text_field :email, type: 'email', autocomplete: 'email', required: true,  placeholder: 'elon@tesla.com', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>

                </div>
                </div>
                
                <%# company %>
                <div class="sm:col-span-6">
                <label for="website" class="block text-sm font-medium text-gray-700">Company Website</label>
                <div class="mt-1">
                    <%= form.text_field :website, type: 'url', autocomplete: 'email', required: true,  placeholder: 'https://tesla.com', class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>
                </div>
                </div>

            </div>
            

            <div class="">
            <div class="mt-1">
                <fieldset class="mt-6">
                <legend class="contents text-base font-medium text-gray-900">What's your role?</legend>

                <div class="mt-1 space-y-4">
                    <div class="flex items-center">
                    <%= form.radio_button :job_role, "c_suite", required: true, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
                    <%= form.label :job_role_c_suite, "C-Suite", class: "ml-3 block text-sm font-medium text-gray-700" %>
                </div>
                <div class="flex items-center">
                    <%= form.radio_button :job_role, "founder", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
                    <%= form.label :job_role_founder, "Founder", class: "ml-3 block text-sm font-medium text-gray-700" %>
                </div>
                <div class="flex items-center">
                <%= form.radio_button :job_role, "employee", class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
                    <%= form.label :job_role_employee, "Employee", class: "ml-3 block text-sm font-medium text-gray-700" %>
                </div>
                </div>
                </fieldset>
            </div>
            </div>
        </div>

            <div class="sm:col-span-6 mt-8">
                <label for="text" class="block text-sm font-medium text-gray-700">About yourself</label>
                <div class="mt-1">
                <%= form.text_area :text, placeholder: "Stakeholders,&#10;&#10; this month we worked primarily on...".html_safe, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", rows: 6 %>
                </div>
                <p class="mt-2 text-sm text-gray-500">The more detailed, the more likely you'll be accepted.</p>
            </div>

        <div class="pt-5">
            <div class="flex justify-end">
            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent bg-brand-blue py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-brand-blue-dark focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Apply</button>
            </div>
        </div>
    <% end %>
    
   
</div>